.left,body,.menu-bar,.menu-icons,.menu-bar div,.menu-label,.search-section,.remaining,.video-tile,.tumbnail img,.tiltle{
  margin: 0;
  padding: 0;
}
body{
  background-color:#fff;
  display: grid;
  grid-template-columns:70px auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.menu-bar{
  display: flex;
  flex-direction: column;
  width:100%;
  min-height: 300px;
  height: 32vw;
  justify-content:space-between;
  align-items:center;
}
.menu-bar .material-icons {
  font-size: 3vw;
}
.three-line{
  font-size: 4vw;
}
.menu-icons{
  width:2.5vw;
  height: 2.5vw;
}
.menu-bar div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4vw;
  width:100%;
}
.menu-label{
  font-size: 0.6em;
  font-weight: 400;
}
.right{
  display:grid;
  grid-template-rows:auto auto 1fr;
}
.logo-search-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo{
  width: 10vw;
  height: 5vw;
}
.search-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-search{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width:6vw;
  height: 4.2vw;
  padding: 5px 5px 0 5px;
  text-align: center;
  font-size:16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #F8F8F8;
}
#search-bar{
  width:37vw;
  padding-left: 20px;
  height: 4.2vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline-color: #1C62B8;
  border-width: 1px;
  border-color:#cccccc;
  outline-width: 1px
}
.search-mic{
  display: flex;
  align-items: center;
}
.btn-mic{
  margin-left: 10px;
  border-radius: 20px;
  width:4.2vw;
  height: 4.2vw;
  border: none;
  background: #F2F2F2;
}
.btn-mic:active{
  background-color: #c3c3c3;
  transition: 0.1s;
}
.btn-prosec{
  display: flex;
  height: 4.2vw;
  width:4.2vw;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  border: none;
}
.btn-prosec:active{
  background-color: #cecece;
}
.btn-prosec:hover{
  background-color: #e5e5e5;
}
.btn-prosec i{
  font-size: 3vw;
}
.btn-profile{
  height: 3vw;
  width:3vw;
  background-image: url("/storage/emulated/0/Programming/Web/WebDesigning/Projects/Mock-YouTube-Homepage/img/yousaf_profile.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
}
.profile-sec{
  width:14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3vw;
}
.suggestion{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color:#f2f2f2;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  outline:none;
  color:#0A0A0A;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 15%;
}
.suggestion:hover{
  background-color: #0A0A0A;
  color:#fff;
}
.suggestions-bar{
  display:flex;
  padding: 12px 0 2px 0;
  margin-left: 30px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width:none;
  -ms-overflow-style:none;
}
.suggestions-bar::-webkit-scrollbar{
  display: none;
}
.content{
  display: flex;
  flex-direction: column;
  width:95%;
  height: 100vh;
  overflow: auto;
  margin:25px 0 0 30px;
}
.remaining{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px 0;
}
.video-tile{
  width:41vw;
  height:40vw;
}
.first-four{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0;
  height: 80vw;
  margin-bottom: 10px
}
.tumbnail{
  width:100%;
  height:23.0625vw;
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
}
.tumbnail img{
  width:100%;
  height: 100%;
  object-fit:cover;
}
.video-info{
  display: grid;
  grid-template-columns: 2fr 12fr 1fr;
  height:25%;
  margin-top: 0.5vw;
}
.channel-icon img{
  height: 4vw;
  width:4vw;
  border-radius: 50%;
}
.title{
  font-size: 1em;
  color:#0A0A0A;
}
.threedot h2{
  text-align: end;
  padding-right: 4px
}
.discription{
  margin:4px 0 0 0;
  color:#5B5B5B;
}